.intersection {
    fill-opacity: 0;
}

.intersection:hover, .intersection.highlight {
    fill: goldenrod;
    fill-opacity: 1;
}

.edge {
    stroke: transparent;
    stroke-width: 5px;
}

.edge:hover, .edge.highlight {
    stroke: goldenrod;
}

.brick-tile {
    fill: darkred;
}

.sheep-tile {
    fill: lightgreen;
}

.stone-tile {
    fill: darkgray;
}

.wheat-tile {
    fill: lightgoldenrodyellow;
}

.wood-tile {
    fill: #7e4e21;
}

.desert-tile {
    fill: pink;
}
