body {
}

.board-container {
    margin: 30px;
    float: left;
}

.chat-container {
    clear: left;
    margin: 30px;
    width: 500px;
    outline: solid 1px #444;
}

.chat-log {
    width:400px;
    height:250px;
}

.chat-controls {
    margin: 5px;
    text-align: center;
}

.chat-input {
    height: 2em;
    width: 400px;
}

.action-container, .options-container {
    margin: 30px;
    clear: left;
}

.hidden {
    display: none;
}
